{{!-- hbs = HandleBarS --}}
<!DOCTYPE html>
<html lang="en">
<head>
{{!-- Importing Header code from header.hbs --}}
{{>header}}
</head>
<body>
{{!-- Importing Navbar code from Navbar.hbs --}}
    {{>navbar}}
    <div class="container">
        {{!-- Jumbotron Bootstrap --}}
        <div class="jumbotron">
            <h1 class="display-4">MERN Registration App</h1>
            <br>
            <br>
            <h2>User Registration using MERN Stack</h2>
            <br>
            <p class="lead" align="center"><b>Technology used: </b></p>
            <div align = "center">
                    <p>Mongo Db</p>
                    <p>Express</p>
                    <p>React Js</p>
                    <p>Node Js</p>
                    <p>Mongoose</p>
                    <p>HBS</p>
            </div>   
           
                <br>
            <p class="lead" align = "center">
                {{!-- Visit MongoDb button linked to the MongoDb Website --}}
                <a class="btn btn-primary btn-lg" href="https://studio3t.com/mongodb-compass-alternative/?keyword=mongocompass&utm_source=adwords&utm_medium=ppc&utm_term=mongocompass&utm_campaign=GS+%7C+Generic+%7C+US&hsa_net=adwords&hsa_ad=619444943426&hsa_src=g&hsa_ver=3&hsa_grp=140364593723&hsa_acc=1756351187&hsa_tgt=kwd-581840445077&hsa_mt=p&hsa_kw=mongocompass&hsa_cam=18222354917&gclid=CjwKCAiAjs2bBhACEiwALTBWZZYtO9oYEhT3epkHTv5gQnNCylwFXjdLUi2HwnxrgPOlwHqVy43rcRoC3EgQAvD_BwE" role="button">Visit - Mongo Db</a>
            </p>
</div>
    </div>
</body>`
</html>